/* General Styles */
body {
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
}

    /* Root Default Theme */
    :root {
        --background-color: rgb(24, 44, 37);
        --text-color: rgb(51, 51, 51);
        --top-bar-gradient: linear-gradient(to right, #2c4c3b, #306844);

        --sidebar-bg-color: rgb(69, 91, 85);
        --sidebar-border-color: rgb(30, 69, 62);

        --box-shadow-color: rgba(0, 0, 0, 0.1);
        --border-color: rgb(204, 204, 204);
        --hover-bg-color: #eaeaea;

        --saved-resources-bg: #f7f7f7;
        --scrollbar-thumb-color: #888;
        --scrollbar-thumb-hover-color: #555;
        --scrollbar-track-color: #f1f1f1;

        --greyish-color: #aaaaaa;

        --modal-overlay-bg: rgba(0, 0, 0, 0.4);
        --modal-content-bg: #fefefe;

        --profile-border-color: #ccc;
        --upload-overlay-bg: rgba(0, 0, 0, 0.6);
        --upload-overlay-text-color: #fff;
        --black-color: #000;
    }

body.cahw-option-10 {
    --background-color: #4fa85e;
    --text-color: black;
    --top-bar-gradient: linear-gradient(to right, #4fa85e, #3d85c6);

    --sidebar-bg-color: #76c083;
    --sidebar-border-color: #6a9ac6;

    --box-shadow-color: rgba(0, 0, 0, 0.2);
    --border-color: #a2c9a3;
    --hover-bg-color: #6a9ac6;

    --saved-resources-bg: #a2c9a3;
    --scrollbar-thumb-color: #6a9ac6;
    --scrollbar-thumb-hover-color: #3d85c6;
    --scrollbar-track-color: #76c083;

    --modal-overlay-bg: rgba(63, 133, 198, 0.8);
    --modal-content-bg: #a2c9a3;
    --upload-overlay-bg: rgba(63, 133, 198, 0.7);
    --upload-overlay-text-color: #ffffff;
}

/* Skintones01 Theme */
body.skintones-theme {
    --background-color: #FFF5E0;
    --text-color: #4E3D2C;
    --top-bar-gradient: linear-gradient(to right, #D8C0A5, #C2A38C);

    --sidebar-bg-color: #D8C0A5;
    --sidebar-border-color: #C2A38C;

    --hover-bg-color: #7A5A46;
    --saved-resources-bg: #F0E0D0;

    --scrollbar-thumb-color: #8E705D;
    --scrollbar-track-color: #FFF5E0;

    --modal-overlay-bg: rgba(0, 0, 0, 0.4);
    --modal-content-bg: #F8E9DD;
}

.top-bar {
    color: white;
    position: sticky;
    width: 100%;
    box-shadow: var(--box-shadow-color) 2px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: var(--top-bar-gradient);
    padding: 10px 20px;
}

.theme-dropdown {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Move dropdown to the left */
}

#theme-selector {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    cursor: pointer;
}

#theme-selector:hover {
    background-color: #f0f0f0;
}

#theme-selector option {
    background-color: #ffffff; /* White background for dropdown options */
    color: #333333; /* Dark grey text for dropdown options */
}

.top-bar-title {
    font-size: 20px;
    font-weight: bold;
}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.profile-sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100vh;
    margin-left: 2%;
}

/* Sidebar */
.sidebar {
    background-color: var(--sidebar-bg-color);
    width: 100%;
    box-shadow: var(--box-shadow-color) 2px 5px;
    height: 72.3vh;
    border-right: 1px solid var(--sidebar-border-color);
    padding: 20px;
    border-radius: 35px;
}

.profile {
    position: static;
    width: 120px;
    margin: 20px;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--profile-border-color);
    margin: 0 auto;
    cursor: pointer;
}

#profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--upload-overlay-bg);
    color: var(--upload-overlay-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.upload-overlay span {
    font-size: 14px;
    text-align: center;
}

.profile-picture-container:hover .upload-overlay {
    opacity: 1;
    pointer-events: all;
}

#profile-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Fields Section */
.fields {
    margin-top: 20px;
    width: 100%;
}

.search-field-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-fields {
    margin-bottom: 10px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
    border-image: initial;
    border-radius: 5px;
}

.field-list {
    list-style-type: none;
    padding: 0;
}

.field-list li {
    padding: 10px;
    border: 1px solid var(--profile-border-color);
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: var(--saved-resources-bg);
}

/* Main Section */
.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 85vh;
    padding: 20px;
}

.search-bar {
    position: relative;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.search-results {
    display: none; /* Hide the search reusults by default*/
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid var(--profile-border-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
    z-index: 1000;
}

.search-results ul {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

.search-results li {
    padding: 10px;
    border-bottom: 1px solid var(--profile-border-color);
    cursor: pointer;
}

.search-results li:hover {
    background-color: var(--upload-overlay-text-color);
}
/* Shortend the search bar and added a create resource button*/
/* Old value: width: 100% */
.search-bar input {
    width: 70%;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
    border-image: initial;
    border-radius: 5px;
    margin-right: 10px; /* Add some space between the search bar and the create resource button, needs to be removed later */
}

.content {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.personal-projects, .personal-topics, .saved-resources, .recent-resources {
    color: var(--black-color);
    background-color: var(--sidebar-bg-color);
    box-shadow: var(--box-shadow-color) 2px 5px;
    width: 50%;
    padding: 20px;
    border-radius: 35px;
    margin: 20px;
    border-right: 1px solid var(--sidebar-border-color);
    max-height: 400px;
    overflow-y: auto;
}

h3 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;

}

ul li {
    padding: 10px;
    border: 1px solid var(--profile-border-color);
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: var(--saved-resources-bg);
    cursor: pointer;
}

/* Hover Effects */
.field-list li:hover, ul li:hover {
    background-color: var(--hover-bg-color);
}

/*Modal styles*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--black-color);
    background-color: var(--modal-overlay-bg);
}

.modal-content {
    background-color: var(--modal-content-bg);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--scrollbar-thumb-color);
    width: 80%;
}

.close {
    color: var(--greyish-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--black-color);
    text-decoration: none;
    cursor: pointer;
}
.saved-resources ul {
    max-height: 300px; /* Adjust the height as needed to fit 5 elements */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 0; /* Remove padding to ensure proper scrolling */
    margin: 0; /* Remove margin to ensure proper scrolling */
    border-radius: 10px;
}

/* Custom Scrollbar Styling for WebKit Browsers */
.saved-resources ul::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.saved-resources ul::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color); /* Background of the scrollbar track */
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey; /* Add shadow for a smoother look */
}

.saved-resources ul::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color); /* Color of the scrollbar thumb */
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey; /* Add shadow for a smoother look */
}

.saved-resources ul::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

.saved-resources ul::-webkit-scrollbar-button {
    display: none; /* Hide the up and down arrows */
}

/* Custom Scrollbar Styling for Firefox */
.saved-resources ul {
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color); /* Color of the scrollbar thumb and track */
    scrollbar-gutter: stable both-edges; /* Ensure the scrollbar has rounded edges */
}